/*
Theme Name: Flatsome 
Theme URI: http://flatsome.uxthemes.com/
Author: UX-Themes
Author URI: http://www.uxthemes.com/
Description: Multi-Purpose Responsive WooCommerce Theme
Version: 3.8.0
Text Domain: flatsome
License: http://themeforest.net/licenses
License URI: http://themeforest.net/licenses
*/


/***************
All custom CSS should be added to Flatsome > Advanced > Custom CSS,
or in the style.css of a Child Theme.
**************
*/


.menu-item a.menu-image-title-below {
    text-align: left !important;
}
.modelview table td {
    font-size: 16px;
}
.searchform{
	display:none;
	visibility:hidden;
}

.header-main {
    height: 80px !important;
}
body .header.show-on-scroll, body  .stuck .header-main {
      height: 70px!important;
}
.nav>li{margin: 0!important}



@media(max-width:767px) {
.custom.html_topbar_right{
	display:none;
	visibility:hidden;
}
	li.menu-item-1128:after{
		
	}
}

.vacclean-custom-only-here .box-image {
    height: 300px;
}

.vacclean-custom-only-here .box-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.height-119 img {
    height: 163px;
    margin-top: 38px;
}
.menu-image-title-after.menu-image-title {
    display: block;
}